<%= link_to(admin_language_url(language)) do
      '<span class="glyphicon glyphicon-search"></span>'.html_safe
    end %> |
<%= link_to(edit_admin_language_url(language)) do
      '<span class="glyphicon glyphicon-pencil"></span>'.html_safe
    end %> |
<%= link_to(admin_language_url(language), method: :delete,
            data: {confirm: "Are you sure you want to delete the '#{language.name}' language?"}) do
      '<span class="glyphicon glyphicon-trash orange"></span>'.html_safe
    end %>
