<%# Clients of this partial must provide the following variables:
    languages
    action_partial %>

<%= osu.action_list(
    records: languages,
    list: {
      headings: ['Name', 'Description', 'Actions'],
      widths: ['30%', '60%', '10%'],
      data_procs:
        [
          lambda { |language| language.name || '---' },
          lambda { |language| '---' },
          lambda { |language| "<span id=language-#{language.id}-actions>
                                #{render partial: action_partial,
                                         locals: {language: language}}
                              </span>".html_safe }
        ]
    }
  ) %>
