<h1>Lists</h1>

<table>
<% @lists.each do |list| %>
  <tr>
    <td><%= link_to list.name, list %></td>
  <% if user_is_admin? %>
    <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List', new_list_path %>
