<%= page_heading 'Exercise lists' %>

<table>
<% @lists.each do |list| %>
  <tr>
    <td><%= link_to list.name, list %></td>
  <% if user_is_admin? %>
    <td><%= link_to 'Delete', list, method: :delete, data: { confirm: "Are you sure you want to delete #{list.name}?" } %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List', new_list_path %>
