<%= user.administrator ? \
      render(partial: 'admin/administrators/destroy',
             locals: {administrator: user.administrator}) : \
      link_to(admin_administrators_url(administrator: {user_id: user.id}), method: :post) do
        '<span class="glyphicon glyphicon-plus"></span>'.html_safe
      end %>
