<%
  show_editor_when_blank ||= false
%>

<% if false %>
<div class='content'>

  <% markup = content.markup %>

  <% if content.markup.blank? && show_editor_when_blank %>
    [editor here]
  <% else %>

  <% end %>

  <% html = content.try(:html).try(:html_safe) %>



  <%= content.try(:html).try(:html_safe) || '' %>
</div>
<% end %>