# Copyright 2011-2014 Rice University. Licensed under the Affero General Public 
# License version 3 or later.  See the COPYRIGHT file for details.

language: ruby
rvm:
  - 2.1.3
cache: bundler
bundler_args: --without production
addons:
  postgresql: "9.3"
before_script:
  - gem install pg
  - psql -c 'create database travis_ci_test;' -U postgres
script:
  - RAILS_ENV=test bundle exec rake --trace
branches:
  only:
    - master

