<h3>You are a member of the following groups:</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Status</th>
    <th></th>
  </tr>

<% current_user.user_group_users.each do |user_group_user| %>
  <tr>
    <td><%= link_to user_group_user.user_group.full_name, user_group_user.user_group %></td>
    <td><%= user_group_user.is_manager ? 'Manager' : 'Member' %></td>
    <td><%= link_to 'Leave group', user_group_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user group', new_user_group_path %>
