<%# Clients of this partial must provide the following variables:
    applications
    action_partial %>

<%= osu.action_list(
    records: applications,
    list: {
      headings: ['Name', 'Redirect URI', 'Actions'],
      widths: ['30%', '60%', '10%'],
      data_procs:
        [
          lambda { |application| application.name || '---' },
          lambda { |application| truncate(application.redirect_uri) || '---' },
          lambda { |application| "<span id=application-#{application.id}-actions>
                                #{render partial: action_partial,
                                         locals: {application: application}}
                              </span>".html_safe }
        ]
    }
  ) %>
