<%= page_heading 'New OAuth application' %>

<div>
  <%= render 'form', :application => @application %>
</div>

<p><%= link_to 'Back to application list',
               user_group_oauth_applications_path(@user_group) %></p>

