@import "common";

#page-heading {
  margin-top:20px;
  padding: 0px 0 7px;
  font-size:  19px;
  font-style: normal;
  color: rgb(37,37,37);
  float: left;
  width: 100%;

  .hr {
    width: 100%;
    border-top:1px solid rgb(37,37,37);
    margin-top:7px;
    margin-bottom: 12px;
  }
}

#page-sub-heading {
  font-size: 14px;
  margin-top:3px;
  font-style: italic;
}