---
http_interactions:
- request:
    method: get
    uri: https://openstax.org/apps/archive/20210421.141058/contents/02040312-72c8-441e-a685-20e9333f3e1d@14.4.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 22 Apr 2021 05:34:31 GMT
      X-Amz-Version-Id:
      - oTROf2FhJk27iWDMN9.GVzB9JTODRZHb
      Etag:
      - W/"6a5076f56093c87cb47f7a13707cd3a7"
    body:
      encoding: ASCII-8BIT
      string: '{"id": "02040312-72c8-441e-a685-20e9333f3e1d", "version": "14.4", "license":
        {"url": "http://creativecommons.org/licenses/by/4.0/", "code": "by", "version":
        "4.0", "name": "Creative Commons Attribution License"}, "legacy_id": "col11762",
        "legacy_version": "1.14", "title": "Introduction to Sociology 2e", "revised":
        "2020-08-17T14:57:28.021004-05:00", "tree": {"id": "02040312-72c8-441e-a685-20e9333f3e1d@14.4",
        "title": "Introduction to Sociology 2e", "contents": [{"id": "325e4afd-80b6-44dd-87b6-35aff4f40eac@12",
        "title": "<span data-type=\"\" itemprop=\"\" class=\"os-text\">Preface to
        Introduction to Sociology 2e</span>", "slug": "preface-to-introduction-to-sociology-2e"},
        {"id": "795b15c3-7366-5a29-a985-54798220668d@14.4", "title": "<span class=\"os-number\"><span
        class=\"os-part-text\">Chapter </span>1</span><span class=\"os-divider\">
        </span><span data-type=\"\" itemprop=\"\" class=\"os-text\">An Introduction
        to Sociology</span>", "contents": [{"id": "4eb21133-cf0a-4ea7-81f5-b1e47698ec30@9",
        "title": "<span data-type=\"\" itemprop=\"\" class=\"os-text\">Introduction
        to [...]
