<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<td <%= block.td_id_attr %> <%= block.td_class_attr %> <%= block.td_colspan_attr %> >
  <%= block.captured_block %>
</td>
