<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% # Clients of this partial must supply the following variable:
   # attachment %>

<div class="image_thumb" data-local_name="<%= attachment.local_name %>">
  <%= image_tag attachment.asset.thumb.url %>
</div>
