<% # Clients of this partial must supply the following variable:
   # question %>

<div class="answers">
  <% unless question.true_or_false_answers.empty? %>
    <p>
      <b>True or false answers</b>
    </p>
  <% end %>

  <% question.true_or_false_answers.each do |answer| %>
    <%= render :partial => 'exercises/questions/true_or_false_answers/show', :locals => {:answer => answer} %>
  <% end %>
</div>
