<% # Clients of this partial must supply the following variable:
   # answer %>

<div class="answer">
  <table>
    <tr>
      <td><%= answer.content_html.html_safe %></td>
      <td><p>(<%= answer.is_true.to_s.capitalize %><% if !answer.credit.nil? && answer.credit > 0 %> - <%= answer.credit %> pt<% end %>)</p></td>
    </tr>
  </table>
</div>
