<p id="notice"><%= notice %></p>

<p>
  <strong>Library:</strong>
  <%= @required_library.library %>
</p>

<%= link_to 'Edit', edit_required_library_path(@required_library) %> |
<%= link_to 'Back', required_libraries_path %>
