# Copy this file to a file named 'secret_settings.yml', and fill in the ID and
# secret from your development copy of OpenStax Services

openstax_application_id: 'my_openstax_application_id'
openstax_application_secret: 'my_openstax_application_secret'