# Copy this file to a file named 'secret_settings.yml', and fill in the ID and
# secret from your development copy of OpenStax Services

openstax_application_id: '29399922002929thisisafakeentry'
openstax_application_secret: '29399922002929thisisafakeentry'