# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.
development:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] || '5f29848dc60f2924ac43f13fbf5088b472f16315e6274e78d9abeb9f4d6f964c' %>
  assets_url: <%= ENV['ASSETS_URL'] || 'http://localhost:8001/dist' %>
  environment_name: development
  openstax:
    accounts:
      client_id: <%= ENV['OPENSTAX_ACCOUNTS_CLIENT_ID'] %>
      secret: <%= ENV['OPENSTAX_ACCOUNTS_SECRET'] %>
      url: <%= ENV['OPENSTAX_ACCOUNTS_URL'] || 'http://localhost:2999' %>
      stub: <%= ENV['OPENSTAX_ACCOUNTS_STUB'] %>
  exception:
    contact_name: <%= ENV['EXCEPTION_CONTACT_NAME'] || 'OpenStax' %>
  redis:
    url: <%= ENV['REDIS_URL'] || 'redis://localhost:6379/0' %>
    namespaces:
      cache: <%= ENV['REDIS_NAMESPACES_CACHE'] || 'exercises-development-cache' %>

test:
  secret_key_base: 2675b2e6d5b0cdc5474f94715980df111168fbe5ba6e76ddbe345983eaec0000
  assets_url: http://localhost:8001/dist
  openstax:
    accounts:
      client_id: ~
      secret: ~
      url: http://localhost:2999
      stub: true
  environment_name: test
  exception:
    contact_name: OpenStax
  redis:
    url: redis://localhost:6379/0
    namespaces:
      cache: exercises-test-cache

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  assets_url: <%= ENV['ASSETS_URL'] %>
  environment_name: <%= ENV['ENVIRONMENT_NAME'] %>
  openstax:
    accounts:
      client_id: <%= ENV['OPENSTAX_ACCOUNTS_CLIENT_ID'] %>
      secret: <%= ENV['OPENSTAX_ACCOUNTS_SECRET'] %>
      url: <%= ENV['OPENSTAX_ACCOUNTS_URL'] %>
      stub: <%= ENV['OPENSTAX_ACCOUNTS_STUB'] %>
  exception:
    contact_name: <%= ENV['EXCEPTION_CONTACT_NAME'] %>
  redis:
    url: <%= ENV['REDIS_URL'] %>
    namespaces:
      cache: <%= ENV['REDIS_NAMESPACES_CACHE'] %>
  sentry:
    dsn: <%= ENV['SENTRY_DSN'] %>
    release: <%= ENV['RELEASE_VERSION'] %>
