<h4>Trusted Applications</h4>
<%= render partial: 'shared/applications/index',
           locals: {applications: @trusted_applications.map {|ta| ta.application},
                    action_partial: 'admin/trusted_applications/destroy'} %>

<br><br>

<h4>Other Applications</h4>
<%= render partial: 'shared/applications/index',
           locals: {applications: @applications,
                    action_partial: 'admin/trusted_applications/form'} %>
