<% # Clients of this partial must supply the following variable:
   # question_dependency_pairs %>

<div class="question_dependency_pairs">
  <% if question_dependency_pairs.empty? %>
      This question has no dependencies.
  <% end %>

  <ul>
    <% question_dependency_pairs.each do |question_dependency_pair| %>
      <%= render :partial => 'question_dependency_pairs/show', :locals => {:question_dependency_pair => question_dependency_pair} %>
    <% end %>
  </ul>
</div>
