<% # Clients of this partial must supply the following variable:
   # question %>

<div class="answers">
  <% unless question.multiple_choice_answers.empty? %>
    <p>
      <b>Multiple choice answers</b>
    </p>
  <% end %>

  <% question.multiple_choice_answers.each do |answer| %>
    <%= render :partial => 'exercises/questions/multiple_choice_answers/show', :locals => {:answer => answer} %>
  <% end %>
</div>
