<% # Clients of this partial must supply the following variable:
   # answer %>

<div class="answer">
  <table>
    <tr>
      <td><%= answer.content_html.html_safe %></td>
      <td><p>(<%= answer.credit || 0 %> pt)</p></td>
    </tr>
  </table>
</div>
