<% # Clients of this partial must supply the following variable:
   # question %>

<div class="answers">
  <% unless question.fill_in_the_blank_answers.empty? %>
    <p>
      <b>Fill in the blank answers</b>
    </p>
  <% end %>

  <% question.fill_in_the_blank_answers.each do |answer| %>
    <%= render :partial => 'exercises/questions/fill_in_the_blank_answers/show', :locals => {:answer => answer} %>
  <% end %>
</div>
