<table>
  <tr>
    <th>Member</th>
    <th>Status</th>
    <th></th>
  </tr>

<% user_group_members.each do |user_group_member| %>
  <%= render :partial => 'user_group_members/show', :locals => {:user_group_member => user_group_member} %>
<% end %>
</table>
