<%= lev_form_for :search,
                 url: search_admin_users_path,
                 remote: true,
                 html: {class: 'form-inline'} do |f| %>

  Search for 
  <%= f.search_field :search_terms, style: 'width:300px' %> 
  in         
  <%= f.select :search_type, ['Any', 'Name', 'Username'], {}, {style: 'width: 150px'} %>

  <%= f.submit 'Search', class: 'btn btn-primary' %>

<% end %>

<div id="search-results-list"></div>
