<% # Clients of this partial must supply the following variable:
   # question %>

<div class="answers">
  <% unless question.matching_answers.empty? %>
    <p>
      <b>Matching answers</b>
    </p>
  <% end %>

  <% question.matching_answers.each do |answer| %>
    <%= render :partial => 'exercises/questions/matching_answers/show', :locals => {:answer => answer} %>
  <% end %>
</div>
