<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= page_heading "Libraries" %>

<div class='list-of-lists'>
<% @libraries.each do |library| %>
  <div class='list-of-lists-entry'>
    <%= link_to 'Delete', [:admin, library], class: 'hover btn-sm btn-primary', method: :delete, data: { confirm: "Are you sure you want to delete #{library.name}?" } %>
    <%= link_to library.name, [:admin, library] %>
  </div>
<% end %>
</div>

<%= link_to 'New Library', new_admin_library_path %>

<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function() {
      $('.list-of-lists-entry').hover(
        function() {
          $(this).find('.hover').show();
        }, 
        function() {
          $(this).find('.hover').hide();
        }
      );
    });
  </script>
<% end %>




