@import "common";

$edit_app_light_gray: lighten($os_gray,50%);

.exercise-edit-app {
  background-color: white;
  border: 1px solid $edit_app_light_gray;
  padding: 15px;
  color: black;

  .content .empty {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid $edit_app_light_gray;
    background: image-url("scribble.png") transparent;
    background-position: 0 -3px;
    text-align: center;
    .spacer {
      width: 100%;
      height: 8px;
    }     
    .message {
      color: lighten(black, 75%);
      font-size: 16px;
      padding: 1px 3px;
      background-color: white;    
    }      
  }

  ul, ol {
    margin-left: 25px;
  }

  .part-position {
    font-size: 18px;
    float: left;
    margin: 0px 15px 15px 15px;

    &.hidden {
      display: none;
    }
  }

  .part {
    clear: both;
    margin-bottom: 15px;
  }

  .part-content {
    overflow: hidden;
    padding-top: 4px;
  }

  textarea.writemaths {
    position: relative;
  }

  .gray-out {
    opacity: 0.2;
  }

  .question {
    border-top: 1px solid $edit_app_light_gray;
    padding: 8px 0px;
  }

  .choice {
    margin: 6px 0px;
  }

  .choice-label {
    font-size: 15px;
    float: left;
    margin: 0px 15px 15px 15px;
  }

  .choice-under-letter-control {
    float: left;
    clear: left;
    margin-left: 14px;
    display: none;
  }

  .choice:hover {
    .choice-under-letter-control {
      display: inline;
    }
    .choice-delete {
      display: block;
    }
  }

  .choice-content {
    overflow: hidden;
    padding-top: 4px;
  }

  .combo-choice {
    .choice-content {
      // @include user-select(none);
      .editor {
        display: none;
      }      
    }
    // .choice-content.editing {
    //   border: 1px solid blue;
    //   padding: 8px;
    // }
  }

  .combo-simple-choice {
    display: inline-block;
    color: lighten(gray,20%);

    &.selected {
      color: black
    }
  }

  .choice-controls {
    float: right;
    width: 100px;
    min-height: 60px;
    padding-left: 15px;
    button {
      display: block;
      margin: 4px 0px;
    }

    .choice-delete {
      display: none;
    }
  


    .edit-controls, .display-controls {
      text-align: center;
    }
  }

  .logic {
    border: 1px solid darken($edit_app_light_gray,20%);
    margin-bottom: 15px;

    .controls {
      padding: 4px;
      text-align: right;
      background-color: rgb(247,247,247);

      .title {
        float: left;
        font-size: 14px;
        margin-top: 5px;
        margin-left: 5px;
        font-style: italic
      }
    }

    .logic-library-list {
      border-top: 1px solid darken($edit_app_light_gray,20%);
      background-color: rgb(247,247,247);
      padding: 4px;
      margin-left: 5px;
    }

    .logic-input {
      .editor {
        border: solid darken($edit_app_light_gray,20%);      
        border-width: 1px 0px;

        .CodeMirror {
          // border: 1px solid #eee;
          height: auto;
        }
        .CodeMirror-scroll {
          // overflow-y: hidden;
          overflow-x: auto;
          min-height: 5em;
          max-height:30em;
        }
        .CodeMirror-code {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }

      .footer {
        background-color: rgb(247,247,247);

        padding: 4px;

        .variables-label {
          display: inline-block;
          padding-left: 4px;
        }
        .variables {
          width: 40%;
          display: inline-block;
          input {
            display: inline-block;
          }
        }

        .permutations-label {
          display: inline-block;
          margin-left: 10px;
        }
        .permutations {
          display: inline-block;
          text-align: right;
          input {
            display: inline-block;
            &.js-num-permutations, &.js-current-permutation {
              width: 65px;
            }
          }

          .js-next-permutation, .js-prev-permutation {
            border: none;
            background-color: transparent;
            width: 20px;
          }

          .js-next-permutation {
            top: -6px;
          }

          .js-prev-permutation {
            top: 10px;
            left: -26px;
          }

          .permutations-of-label {
            display: inline-block;
            margin-left: -20px;
            margin-right: 3px;
          }
        }
      }  
    }
    

    .status {
      border-top: 1px solid darken($edit_app_light_gray,20%);  
      background-color: rgb(247,247,247); 
      padding: 4px;   
        display: block;
        width: 100%;
        text-align: right;
        color: darken(gray,0%);
      }
  }

}
