@import "common";

body, div, span, ul, ol, li, p, a {
  padding: 0 0;
  margin:  0 0;
}

p {
  margin-bottom: 12px;
}

.bar-top {
  @include bar-top;
}

.link_button {
  background-color: $os_green;
  color: white;
  font-weight: bold;
  padding: 2px 8px 3px 9px;
  font-size: 11px;
  border: none;
 
  &:hover {
   background-color: lighten($os_green, 5%);
   color: white;
   text-decoration: none
  }
}

input[type="text"].inline,
input[type="number"].inline {
  width: 25px;
  height: 15px;
  margin-bottom: 3px;
}

input[type="checkbox"].inline {
  margin-top: 0px;
}

.float-left {
  float: left;
  margin-right: 5px;
}

.inline-block {
  display: inline-block;
}

.clear {
  clear: both;
}
