<% # Clients of this partial must supply the following variable:
   # question %>

<div class="answers">
  <% unless question.free_response_answers.empty? %>
    <p>
      <b>Free response answers</b>
    </p>
  <% end %>

  <% question.free_response_answers.each do |answer| %>
    <%= render :partial => 'exercises/questions/free_response_answers/show', :locals => {:answer => answer} %>
  <% end %>
</div>
