<%# Clients of this partial must provide the following variables:
    libraries
    action_partial %>

<%= osu.action_list(
    records: libraries,
    list: {
      headings: ['Name', 'Description', 'Actions'],
      widths: ['30%', '60%', '10%'],
      data_procs:
        [
          ->(library) { library.name || '---' },
          ->(library) { truncate(library.description) || '---' },
          ->(library) do
            "<span id=library-#{library.id}-actions>#{
              render partial: action_partial, locals: { library: library }
            }</span>".html_safe
          end
        ]
    }
  ) %>
