<%= render partial: 'openstax/accounts/shared/accounts/index',
           locals: { search_action_path: admin_users_path,
                     method: :get,
                     remote: true } %>

<div id='search-results-list'>
  <%= render partial: 'admin/users/list',
             locals: {action_partial: 'admin/users/delete',
                      sign_in_as: true} %>
</div>
