<%= link_to(admin_format_url(format)) do
      '<span class="glyphicon glyphicon-search"></span>'.html_safe
    end %> |
<%= link_to(edit_admin_format_url(format)) do
      '<span class="glyphicon glyphicon-pencil"></span>'.html_safe
    end %> |
<%= link_to(admin_format_url(format), method: :delete,
            data: {confirm: "Are you sure you want to delete the '#{format.name}' format?"}) do
      '<span class="glyphicon glyphicon-trash orange"></span>'.html_safe
    end %>
