<h1>Editing format</h1>

<%= render 'form' %>

<br>

<%= link_to(admin_format_url(@format)) do
      '<span class="glyphicon glyphicon-search">View</span>'.html_safe
    end %>|
<%= link_to(admin_formats_url) do
      '<span class="glyphicon glyphicon-list">List</span>'.html_safe
    end %>
