<%= link_to(deputization_url(deputization), method: :delete,
            data: {confirm: "Are you sure you want to remove this deputy?"}) do
      '<span class="glyphicon glyphicon-minus orange"></span>'.html_safe
    end %>
