<h4>Deputies</h4>
  <%= render partial: 'deputizations/index',
             locals: {deputizations: current_user.child_deputizations,
                      action_partial: 'deputizations/destroy'} %>

<br><br>

<h4>Add Deputy</h4>
<%= render partial: 'openstax/accounts/shared/accounts/search',
           locals: { search_action_path: deputizations_path,
                     method: :get,
                     remote: true } %>

<div id='search-results-list'>
  <%= render partial: 'shared/users/search_results',
             locals: {action_partial: 'deputizations/form'} %>
</div>
<br>
<%= link_to 'My Account', user_path %>
