<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= page_heading("Publishing") %>

<p>The following items have been successfully published:</p>

<ul>
<% @publishables.each do |p| %>
  <li><%= link_to p.name, p %></li>
<% end %>
</ul>
