<div class='exercise-header'>
  <div class='exercise-heading'>
    <div class='exercise-id'>
      ex. <%= exercise.number %>

      <% if exercise.is_published? %>
         , v. <%= exercise.version %>
      <% end %>
    </div>

    <div class='exercise-version-state'>
      <% if !exercise.is_published? %>
        (DRAFT)
      <% elsif exercise.is_latest? %>
        (LATEST)
      <% end %>
    </div>

  </div>
  <div class='exercise-nav'></div>
</div>