<div id="quickview_dialog" style="display:none" title="Quick View"></div>

<% content_for :javascript do %>
   <%= javascript_tag do %>
      $("#quickview_dialog").dialog({ 
        autoOpen: false, 
        modal: true, 
        height:600, 
        width:600, 
        buttons: { "Close": function() { $(this).dialog("close"); }}
      });
   <% end %>
<% end %>
