<div class='exercise-show'>

  <%= render 'header', exercise: exercise %>

  <div class='exercise-frame'>

    <div class='exercise-background'>
      <%= render 'contents/show_edit', content: exercise.background %>
    </div>

    <% exercise.parts.each do |part| %>
      <div class='exercise-part'>
        <div class='part-background'>
          <%= render 'contents/show_edit', content: part.background %>
        </div>
      </div>
    <% end %>

  </div>


</div>