<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'miniapps/exercise_editor' %>
<% end %>

<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function() {
      ExerciseEditor.start({exerciseId: <%= @exercise.id %>});
    });
  </script>
<% end %>

<div class='exercise-edit'>

  <%= render 'header', exercise: @exercise %>


  <div class='exercise-edit-app'>
  </div>

</div>
