<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'miniapps/exercise_editor' %>
  <%= stylesheet_link_tag 'miniapps/exercise_editor' %>
  <% if false %>
  <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function() {
      ExerciseEditor.start({exerciseId: <%= @exercise.id %>});
    });
  </script>
<% end %>

<div class='exercise-edit'>

  <%= render 'header', exercise: @exercise %>


  <div class='exercise-edit-app'>
  </div>

</div>
