<h1>Listing exercises</h1>

<table>
  <tr>
    <th>Exercise</th>
    <th>Quick View</th>
    <th>Has solutions?</th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td><%= link_to "e#{exercise.number}v#{exercise.version}", exercise %></td>
    <td><%= quickview_link(exercise) %></td>
    <td><%= tf_to_yn(!exercise.solutions.empty?) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercise', new_exercise_path %>
