<%= page_heading "Solutions for Exercise #{@exercise.name}" %>

<div class="solutions">
  <% if @solutions.empty? %>
    This exercise has no solutions.
  <% else %>
    <% @solutions.each do |solution| %>
      <div class="solution">
        <%= render :partial => 'solutions/show', :locals => {:solution => solution} %>
      </div>
      <br/>
    <% end %>
  <% end %>
</div>

<br/>

<%= link_to 'New solution', new_exercise_solution_path(@exercise) %> |
<%= link_to 'Back', @exercise %>
