<% # Clients of this partial must supply the following variable:
   # answer %>

<div class="answer">
  <% if !answer.credit.nil? && answer.credit > 0 %>(<%= answer.credit %> pt): <% end %>
  <%= answer.content_html.html_safe %>
  <%= answer.short_answer %>
</div>
