<!DOCTYPE html>
<html>
<head>
  <title>OpenStax Exercises</title>
  <script id="exercises-boostrap-data" type="application/json"><%=raw json_escape client_bootstrap_data.to_json %></script>
  <%= OpenStax::Utilities::Assets.tags_for('exercises') %>
  <%= csrf_meta_tags %>
</head>
<body data-turbolinks="false">
  <%= yield %>
</body>
</html>
