<!DOCTYPE html>
<html>
<head>
  <title>OpenStax Exercises</title>
  <link rel='stylesheet' href='<%= Rails.application.secrets[:css_url]%>' />
  <script src="//cdn.mathjax.org/mathjax/2.6-latest/MathJax.js?config=TeX-MML-AM_HTMLorMML-full&amp;delayStartupUntil=configured" async=""></script>
  <script type='text/javascript' src='<%= Rails.application.secrets[:js_url]%>' defer></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
