<% # Clients of this partial must supply the following variable:
   # user_group_users
   # Additionally, they can override the following variable:
   hide_status ||= false
%>

<table>
  <tr>
    <th>User</th>
  <% unless hide_status %>
    <th>Status</th>
  <% end %>
    <th></th>
  </tr>

<% user_group_users.each do |user_group_user| %>
  <tr>
    <td><%= user_group_user.user.name %></td>
  <% unless hide_status %>
    <td><%= user_group_user.is_manager ? 'Manager' : 'Member' %>
        <% if @user_group.can_be_updated_by?(current_user) || user_is_admin? %>
          (<%= link_to 'Toggle', toggle_user_group_user_path(user_group_user), method: :put, data: {
                 confirm: "Are you sure you want to #{user_group_user.is_manager ? 'demote' : 'promote'} #{user_group_user.user.name}#{user_group_user.is_manager ? '' : ' to group manager'}?"
          } %>)
        <% end %></td>
  <% end %>
    <td><% if user_group_user.can_be_destroyed_by?(current_user) || user_is_admin? %>
          <%= link_to (user_group_user.user == current_user ? 'Leave Group' : 'Remove'), user_group_user, method: :delete,
                data: { confirm: "Are you sure you want to remove #{user_group_user.user.name} from the group?" } %>
        <% end %></td>
  </tr>
<% end %>
</table>
